/* Primary font */
.open-sans-primary-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size:  20px; 
    border: none;
    border-radius: 5px;
    padding: 18px 35px;

}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}
.section-description{
    font: size 18px; 
    color: #757575;

}
.text-center{
    text-align: center;
}

/* header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: contain,auto;
}
/* Nav style */
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;   
     margin-right: 51px;
}

nav li a{
    text-decoration: none;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.banner-content{
     max-width: 585px;
     max-height: 356px;
    
}
.banner-greetings{
    font-weight: 600;
    font-size: 45px;
    margin: 0px;
    margin-top: 140px;

}

.banner-title{
    font-size: 85px;
    font-weight: bold;
    margin: 0px;
    padding: 5px 0px;
}

banner p{
    font-size: 18px;
}
/* .banner img{
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    
} */

.banner-image{
    max-width: 584px;
    max-height: 676px;
}

/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 30px;
}

/* About */
.about{
    text-align: center;
    padding: 210px 150px ;
    border-radius: 10px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-size: 20px;

}
.item-description{
    font-size:20px;
    font-weight: bold;
}
/* skills */
.skills-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}